<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>





  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AccessFileName" connectionString="~/App_Data/ASPNetDB.mdb" providerName="System.Data.OleDb" />
    <!-- <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-andrew-27a66487-cec0-4f18-a10d-ea5b7173869f;AttachDbFilename=|DataDirectory|\aspnet-andrew-27a66487-cec0-4f18-a10d-ea5b7173869f.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  -->
  </connectionStrings>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow users="Admin" />
        <deny users="*, ?" />
      </authorization>
    </system.web>
  </location>


  <location path="Evaluations">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>


  <system.web>
    <trust level="Full"/>
    <!-- Force to override security issues-->
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off"/>
    <!-- Changed to allow showing runtime errors-->
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <!-- Changed validation mode to use database instead of windows domain-->
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Microsoft.AspNet.Identity" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>

    <membership defaultProvider="AccessMembershipProvider">
      <providers>
        <clear/>
        <add name="AccessMembershipProvider"
					type="Samples.AccessProviders.AccessMembershipProvider, App_Code"
					connectionStringName="AccessFileName"
					enablePasswordRetrieval="false"
					enablePasswordReset="false"
					requiresUniqueEmail="false"
					requiresQuestionAndAnswer="false"
					minRequiredPasswordLength="1"
					minRequiredNonalphanumericCharacters="0"
					applicationName="FlashLanguage"
					hashAlgorithmType="SHA1"
					passwordFormat="Hashed"/>
      </providers>
    </membership>

    <anonymousIdentification enabled="true" cookieName=".ASPXANONYMOUS" cookieTimeout="100000" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="None" domain=""/>
    <!--
    <membership>
      <providers>
       
	      ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        
        <clear />
      </providers>
    </membership>
    -->
    <profile>
      <providers>
        <!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear />
      </providers>
    </profile>
    <roleManager>
      <!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--  <sessionState mode="Custom" customProvider="DefaultSessionProvider">
      <providers>
        <add name="AccessFileName" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <machineKey
    validationKey="B4807A0813F49057BD41A5BA4A8BBD5F575059BFB9E72A144D267BA247CC4F1AA62E6AE968C07010E5F10A1FB00ECD354FB3AD16C1EE99883A007258B77E6260"
    decryptionKey="B203CF5BD2431AAF95439A77D1995541E3D18505DEC3EF4AB30E279411F34D62"
    validation="SHA1" decryption="AES"

/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <!-- <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>-->
    <providers>
      <!--   <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /> -->
    </providers>
  </entityFramework>
</configuration>